body{
    display:grid;
    background-color: darkslategrey;


    grid-template: 
        "headline headline" 100px 
        "income status" 50px
        "prov plan" 50px
        "submit clear" 50px
        "run spa" 50px;
}


      

h1{
    text-align: center;
    color: red;
    grid-area:headline;
}

h4{
    color: black;
    text-align: center; 
}



div[id="income_input"] {
    grid-area: income;
}

div[id="status_input"] {
    grid-area: status;
}

div[id="submit"] {
    grid-area: submit;
}

div[id="insurance_input"] {
    grid-area: prov;
}

div[id="plan_input"] {
    grid-area: plan;
}

div[id="clear"] {
    grid-area: clear;
}

div[id="adv"] {
    grid-area: run;
}