body{
    display:grid;
    background-color: rgb(55, 141, 141);


    grid-template: 
        "headline headline" 50px 
        "caption caption" 50px
        "input1 input2" 50px
        "input3 input4" 50px
        "input5 input6" 50px
        "input7 input8" 50px
        "input9 input10" 50px
        "input11 input12" 50px
        "input13 input14" 50px
}




h1{
    text-align: center;
    color: blue;
    grid-area:headline;
}

div[id ="results_headline"] {
    color: black;
    text-align: center; 
    grid-area:caption;
    
}

textarea{
    padding: 100px;
}


div[id="income_input"] {
    grid-area: input1;
    text-align: center; 

}

div[id="status_input"] {
    grid-area: input2;
    text-align: center; 

}

div[id="submit"] {
    grid-area: input8;
    text-align: center; 

}

div[id="insurance_input"] {
    grid-area: input5;
    text-align: center; 

}

div[id="plan_input"] {
    grid-area: input6;
    text-align: center; 

}

div[id="clear"] {
    grid-area: input7;
    text-align: center; 

}

div[id="advanced_button"] {
    grid-area: input9;
    text-align: center; 

}

div[id="cost_input"] {
    grid-area: input4;
    text-align: center;
}

div[id="advanced1"] {
    grid-area: input11;
    text-align: center; 
}

div[id="fam_input"] {
    grid-area: input3;
    text-align: center; 
}

div[id="restart_button"] {
    grid-area: input13;
    padding: 20px;
}

div[id ="plan_spacer_left"]{
    grid-area: input5;
    display: grid;
    grid-template:
       "plan1 plan2" ;
}

div[id ="plan_spacer_right"]{
    grid-area: input6;
    display: grid;
    grid-template:
       "plan3 plan4" ;
}


select,
select option {
  color: #000000;
}


select:invalid,
select option[value=""] {
  color: #999999;
}
